.effect {
  @include container($mobile-width);
  display: flex;
  justify-content: space-between;
  min-height: 420px;
}

.effect__time {
  position: relative;
  flex-basis: 50%;
  width: 238px;
  height: 276px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 238px;
    height: 276px;
    background-image: url("../img/icon-timer.svg");

    @include background();
  }
}

.effect__hour {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 203px;
  height: 203px;
  margin-top: 53px;
  margin-left: 18px;
  padding: 10px;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  color: $pink;
  border: 14px solid $pink;
  border-radius: 50%;
}

.effect__scope {
  flex-basis: 50%;
}

.effect__headline {
  width: 200px;
  margin: 36px 0 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $black;
}

.effect__text,
.effect__link {
  font-size: 14px;
  margin: 10px 0 10px 0;
  padding-right: 10px;
}

.effect__text {
  color: $darker;
}

.effect__link {
  color: $pink;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $darker;
  }

  &:active {
    color: fade($darker, 30);
  }
}

@media (min-width: $tablet-width) {
  .effect {
    @include container($tablet-width);
    min-height: 276px;
  }

  .effect__text,
  .effect__link {
    margin-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    @include container($desktop-width);
    min-height: 345px;
  }

  .effect__time {
    position: relative;
    flex-basis: 38%;
    top: 5px;
    left: -10px;
    width: 238px;
    height: 276px;

    &::before {
      width: 298px;
      height: 345px;
    }
  }

  .effect__hour {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 253px;
    height: 253px;
    margin-top: 70px;
    margin-left: 23px;
    padding: 10px;
    font-weight: 700;
    font-size: 120px;
    line-height: 186px;
    color: $pink;
    border: 17px solid $pink;
    border-radius: 50%;
  }

  .effect__scope {
    flex-basis: 61.5%;
    margin-top: 60px;
  }

  .effect__headline {
    width: 100%;
    margin-bottom: 23px;
  }

  .effect__text,
  .effect__link {

    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}
