.main-page__feedback {
  background-color: $white;
  padding-top: 22px;
  padding-bottom: 18px;
}

.main-page__effect {
  display: none;
}

.main-page__rates {
  padding: 74px 0 46px 0;
}

.main-page__photos {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-page__feedback {
    padding-top: 36px;
  }

  .main-page__effect {
    display: flex;
    padding: 58px 0 60px 0;
    background-color: $white;
  }

  .main-page__rates {
    padding-top: 50px;
    padding-bottom: 42px;
  }

  .main-page__photos {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .main-page__feedback {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .main-page__effect {
    background-color: $lighter;

    padding: 40px 0 74px 0;
  }

  .main-page__rates {
    padding-top: 132px;
    padding-bottom: 68px;
  }

  .main-page__photos {
    margin-bottom: 0;
  }

  .main-page__photo-editor {
    margin-bottom: 25px;
  }
}
