.main-footer {
  display: block;

  &--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 0;

    &--index {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 0px;
  }
}
