.range__controls {
  position: relative;
  padding: 19px 20px 36px 20px;
  border-radius: 5px;
  box-sizing: content-box;
}

.range__scale {
  height: 2px;
  background-color: $black;
}

.range__runner {
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid $pink;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  &--size {
    left: 75%;
  }

  &--fill {
    left: 23%;
  }

  &--contrast {
    left: 53%;
  }
}

@media (min-width: $tablet-width) {
  .range__controls {
    width: 205px;
    padding: 20px 0 33px 28px;
  }

  .range__runner {
    top: 14px;
  }

  .range--active .range__runner {
    background-color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .range__controls {
    width: 290px;
    padding: 20px 0 33px 28px;
  }

  .range__runner {
    position: absolute;
    top: 14px;
    left: 0;
    width: 10px;
    height: 10px;

    &--size {
      left: 31%;
    }

    &--fill {
      left: 86%;
    }

    &--contrast {
      left: 59%;
    }
  }

  .editor__send-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .editor__send-post .btn {
    width: 183px;
  }
}
