.achieves {
  @include reset-list();
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 53px;

    &:last-child {
      margin-bottom: 35px;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 30px;
    padding-left: 60px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -10px;
      width: 35px;
      height: 35px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      border: 2px solid rgb(229, 229, 229);
      background-image: url("../img/icon-yes-form.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__checkbox {
    display: none;

    &:not(:checked) + .achieves__label::before {
      background-image: none;
    }
  }
}

.achieves__checkbox:hover + label::before {
  border: 2px solid rgba(40, 54, 69, 1);
}

.achieves__checkbox:active + label::before {
  border: 2px solid rgba(210, 40, 86, 1);
}

@media (min-width: 660px) {
  .achieves {
    &__label {
      &::before {
        width: 37px;
        height: 37px;
        left: 0;
      }
    }
  }
}

@media (min-width: 960px) {
  .achieves {
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-right: 65px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 4;
        margin-right: 102px;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 5;
      }

      &:nth-child(5) {
        order: 3;
        margin-right: 0;
      }

      &:nth-child(6) {
        order: 6;
        margin-right: 0;
      }
    }
  }
}
