.app-all {
  @include reset-list();
  margin: 0;
  padding: 0;
  padding-left: 25px;

  &__item {
    margin-bottom: 45px;
  }

  &__radio {
    display: none;

    &:not(:checked) + .app-all__label::before {
      display: none;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 30px;
    padding-left: 33px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(210, 40, 86);
      top: 5px;
      left: -25px;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 37px;
      height: 36px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      border: 2px solid rgb(229, 229, 229);
      box-sizing: border-box;
      top: -5px;
      left: -37px;
    }
  }
}

.app-all__radio:hover + label::after {
  border: 2px solid rgba(40, 54, 69, 1);
}

.app-all__radio:active + label::after {
  border: 2px solid rgba(210, 40, 86, 1);
}

@media (min-width: 660px) {
  .app-all {
    &__label {
      &::before {
        left: -15px;
      }

      &::after {
        left: -26px;
        top: -7px;
      }
    }
  }
}

@media (min-width: 960px) {
  .app-all {
    &__label {
      padding-left: 54px;

      &::before {
        left: 5px;
      }

      &::after {
        left: -7px;
      }
    }
  }
}
