.app-effects {
  background: $lighter url("../img/bg-triangle-white.svg") no-repeat;
  background-position: top;
  background-size: 100%;
}

.app-effects__list {
  @include reset-list();
  margin-bottom: 40px;
}

.app-effects__item {
  padding-bottom: 35px;

  &:first-child {
    padding-top: 85px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.app-effects__header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: $black;
}

.app-effects__description {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: center;
  color: $darker;
}

.app-effects__img-all {
  text-align: center;

  img {
    width: 157px;
  }
}

.app-effects__img {
  &--desktop {
    display: none;
  }
}

@media (max-width: $totablet-width) {
  .app-effects__img-all {
    max-height: 275px;
    overflow: hidden;
  }
}

@media (min-width: $tablet-width) {
  .app-effects__all {
    display: flex;
  }

  .app-effects__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    margin-bottom: 0;
    padding-top: 60px;
  }

  .app-effects__img-all {
    order: 1;
    margin-right: 41px;
    padding-top: 3px;

    img {
      width: 268px;
    }
  }

  .app-effects__item {
    width: 266px;
    padding-bottom: 35px;

    &:first-child {
      padding-top: 0;
    }
  }

  .app-effects__header,
  .app-effects__description {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .app-effects__all {
    flex-direction: column;
    align-items: center;
  }

  .app-effects__list {
    flex-direction: row;
    justify-content: space-between;
    order: 1;
    width: 940px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .app-effects__img-all {
    display: none;
  }

  .app-effects__item {
    width: 292px;
    margin: 0;
    padding-bottom: 67px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .app-effects__img {
    &--desktop {
      display: block;
      width: 292px;
      margin-bottom: 52px;
    }
  }

  .app-effects__header {
    font-size: 30px;
    margin-bottom: 22px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.1;
    text-align: center;
  }

  .app-effects__description {
    padding-left: 21.5px;
    padding-right: 21.5px;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
  }
}
