body {
  margin: 0 auto;
  padding: 0;
  min-width: $mobile-width;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $main-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
