.developer {
  display: flex;
}

.developer__signature {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: left;
  color: $darker;
}

.developer__logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.developer__logo svg {
  width: 27px;
  height: 34px;

  &:hover {
    fill: $darker;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .developer {
    padding-bottom: 0;
  }

  .developer__logo {
    margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .developer__signature {
    font-size: 18px;
    line-height: 1;
  }
}
