.download {
  color: $white;
  background-color: $dark;
  border-top: 1px solid transparent;
  box-sizing: border-box;
}

.download__headline {
  display: none;
}

.download__btn {
  @include reset-link();
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 32px;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.download__icon {
  @include reset-link();
  display: flex;
  width: 47px;
  height: 56px;
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }

  &--apple {
    background: url("../img/logo-apple.svg") no-repeat 50% 50%;
  }

  &--android {
    background: url("../img/logo-android.svg") no-repeat 50% 50%;
  }

  &--windows {
    background: url("../img/logo-microsoft.svg") no-repeat 50% 50%;
  }
}

.download__description {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download__all {
    position: absolute;
    top: -529px;
    max-width: 300px;
  }

  .download__headline {
    display: block;
    margin: 0;
    padding: 0 58px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
  }

  .download__btn-install {
    margin-bottom: 15px;
  }

  .download__icons {
    margin-bottom: 38px;
  }

  .download__description {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (min-width: $desktop-width) {
  .download__all {
    top: -635px;
    padding-top: 0;
  }

  .download__headline {
    padding: 0;
    padding-bottom: 20px;
    font-size: 50px;
  }

  .download__btn-install {
    margin-bottom: 37px;
  }

  .download__btn {
    font-size: 21px;
    line-height: 0.86;
  }

  .download__icons {
    margin-bottom: 57px;
  }
}
