.editor {
  background-color: rgb(242, 242, 242);
  margin-bottom: 5px;

  &__text {
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 45px;
    padding-top: 20px;
  }

  &__container-image {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;
    height: 374px;
    padding-top: 30px;
  }
}

@media (min-width: 660px) {
  .editor {
    margin-bottom: 0;

    &__text {
      font-size: 18px;
      padding-bottom: 72px;
      margin-top: -25px;
    }

    &__container {
      display: flex;
      padding-top: 35px;
      padding-bottom: 0;
    }

    &__change-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__container-image {
      margin-right: 47px;
      width: 300px;
      height: 400px;
      padding-top: 0;
    }
  }
}

@media (min-width: 960px) {
  .editor {
    padding-bottom: 0;

    &__text {
      margin-top: -50px;
      padding-bottom: 65px;
      padding-left: 0;
    }

    &__container-image {
      padding-left: 74px;
      margin-right: 90px;
      margin-bottom: 0;
      width: 300px;
      height: 400px;
    }
  }
}
