.feedback__all__toggle {
  display: none;
}

.feedback__list {
  @include reset-list();
  padding-bottom: 34px;
}

.feedback__item {
  padding-top: 43px;
}

.feedback__author {
  margin: 0;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: $black;

  &--who {
    display: none;
  }
}

.feedback__text {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.2;
  text-align: center;
  color: $darker;
}

.feedback__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .feedback__all {
    display: flex;
    flex-direction: column;
  }

  .feedback__item {
    padding-top: 35px;
  }

  .feedback__author {
    order: 2;
    padding-bottom: 0;
    font-size: 20px;

    &--who {
      display: block;
      padding-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 2.14;
      text-align: center;
      color: $darker;
    }
  }

  .feedback__text {
    order: 1;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 1.67;
  }
}

@media (min-width: $desktop-width) {
  .feedback__all {
    position: relative;
  }

  .feedback__all__toggle {
    display: block;
    position: absolute;
    content: "";
    top: 55%;
    transform: translateY(-40%);
    width: 22px;
    height: 41px;
    background: url("../img/icon-review-arrow-left.svg") no-repeat;
    border: none;
    opasity: 0.3;
    cursor: pointer;

    &--right {
      right: 10px;
      background: url("../img/icon-review-arrow-right.svg") no-repeat;
    }

    &:hover {
      opasity: 0.6;
    }

    &:active {
      opasity: 0.1;
    }
  }

  .feedback__item {
    padding-top: 187px;
    padding-left: 105px;
    padding-right: 105px;
    background: url("../img/icon-quotes.svg") no-repeat 50% 25%;
  }

  .feedback__author {
    font-size: 24px;

    &--who {
      font-size: 18px;
      line-height: 1.67;
    }
  }

  .feedback__toggles {
    display: none;
  }
}
