.footer-form {
  display: none;
}

.footer-form__filling {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;
}

.footer-form__logo-svg {
  margin-bottom: 31px;

  &:hover path,
  &:focus path {
    fill: $decoration-color;
  }

  &:active path {
    fill: rgba($decoration-color, 0.3%);
  }
}

.footer-form__developer {
  line-height: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .footer-form {
    display: none;
  }

  .footer-form__filling {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
  }

  .footer-form__logo-svg {
    margin-bottom: 0;
  }

  .footer-form__developer {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .footer-form {
    display: none;
  }

  .footer-form__filling {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 35px;
    width: 940px;
  }

  .footer-form__developer {
    margin-top: 0;
    margin-left: auto;
  }
}
