.form-contact {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__legend {
    display: none;
  }

  &__label {
    font-size: 14px;
    line-height: 30px;
    color: rgb(210, 40, 86);
    text-transform: uppercase;
    padding-left: 23px;
  }
}

@media (min-width: 660px) {
  .form-contact {
    order: 2;
    margin-bottom: 60px;
    padding-left: 60px;
    padding-bottom: 5px;

    &__label {
      padding-left: 17px;
      padding-top: 13px;
    }

    &__legend {
      display: block;
      text-align: center;
      line-height: 30px;
      color: rgb(210, 40, 86);
      text-transform: uppercase;
    }

    &__item {
      flex-direction: column-reverse;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 58px;
        background-color: rgb(229, 229, 229);
        left: 435px;
        top: 0;
      }

      &:nth-child(1) {
        &::before {
          background-image: url("../img/icon-phone.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:last-child {
        &::before {
          background-image: url("../img/icon-mail.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .form-contact {
    flex-grow: 1;
    padding-top: 15px;
    padding-left: 58px;
    height: 150px;

    &__filling {
      display: flex;
    }

    &__legend {
      padding-left: 32px;
      padding-right: 32px;
    }

    &__item {
      &::before {
        top: 0;
        left: 315px;
      }

      &:first-child {
        margin-right: 74px;
      }

      &:last-child {
        margin-top: -20px;
        padding-bottom: 10px;

        &::before {
          top: 35px;
        }
      }
    }
  }
}
