.form-achives {
  background-color: rgb(242, 242, 242);
  margin-top: 0;
  position: relative;
  padding-top: 120px;

  &__legend {
    font-size: 14px;
    line-height: 18px;
    color: rgb(210, 40, 86);
    text-transform: uppercase;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    display: block;
    position: absolute;
    top: 40px;
  }
}

@media (min-width: 660px) {
  .form-achives {
    order: 3;
    background-color: rgb(255, 255, 255);
    padding-left: 55px;
    padding-top: 45px;
    padding-bottom: 15px;
    margin-bottom: 50px;

    &__legend {
      position: static;
    }
  }
}

@media (min-width: 960px) {
  .form-achives {
    flex-grow: 1;
    padding-bottom: 5px;
    margin-bottom: 55px;

    &__legend {
      padding-left: 32px;
      padding-right: 33px;
    }
  }
}
