.main-header {
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  padding: 22px 19px 25px 20px;
}
