.main-nav {
  background-color: rgb(40, 54, 69);
}

@media (min-width: 660px) {
  .main-nav {
    position: relative;
    z-index: 3;
  }
}

@media (min-width: 960px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }
}
