@media (min-width: 320px) {
  .main-header {
    padding: 0;
    margin: 0;

    &__description {
      font-size: 24px;
      font-weight: lighter;
      color: rgb(255, 255, 255);
      text-align: center;
      padding-top: 45px;

      &--photo {
        margin-top: -10px;
      }

      &--form {
        padding-top: 40px;
        line-height: 30px;
      }
    }
  }
}

@media (min-width: 660px) {
  .main-header {
    &__app-all {
      padding: 0;
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
      background-position: 50% 65%, 50% 50%;
      background-repeat: no-repeat;
      position: relative;
      min-height: 660px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
        background-size: 700px auto, 1200px auto;
      }

      &--photo {
        background-image: url("../img/bg-back-tablet@1x.jpg");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/bg-back-tablet@2x.jpg");
          background-size: 1200px auto;
        }
      }

      &--form {
        background-image: url("../img/bg-back-tablet@1x.jpg");

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/bg-back-tablet@2x.jpg");
          background-size: 1200px auto;
        }
      }
    }

    &__description {
      font-size: 50px;
      line-height: 50px;
      padding-top: 65px;

      &--photo {
        padding-top: 85px;
        line-height: 55px;
      }

      &--form {
        padding-top: 80px;
        line-height: 55px;
      }
    }
  }
}

@media (min-width: 960px) {
  .main-header {
    margin: 0;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 0% 100%, 50% 50%;
    background-repeat: no-repeat;
    min-height: 852px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1050px auto, 2560px auto;
    }

    &__app-all {
      background-image: none;

      &--photo {
        background-image: url("../img/bg-back-desktop@1x.jpg");
        background-position: 50% 20%;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/bg-back-desktop@2x.jpg");
          background-size: 2560px auto;
        }
      }

      &--form {
        background-image: url("../img/bg-back-desktop@1x.jpg");
        background-position: 50% 40%;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/bg-back-desktop@2x.jpg");
          background-size: 2560px auto;
        }
      }
    }

    &__description {
      &--form {
        padding-top: 80px;
        width: 820px;
        padding-left: 60px;
        line-height: 60px;
      }

      &--photo {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: -20px;
        min-width: 400px;
      }
    }
  }
}
