.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header__logo {
  display: block;
  height: 22px;
  margin-top: 22px;
  margin-bottom: 25px;
}

.menu-header__logo svg {
  width: 74px;
  height: 23px;

  &:hover path {
    fill: $pink;
  }

  &:active path {
    fill: $white;
    opacity: 0.3;
  }
}

.menu-header__logo-svg {
  &--tablet,
  &--desktop {
    display: none;
  }
}

.menu-header__button {
  width: 24px;
  height: 23px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .menu-header__logo {
    height: 40px;
    margin-top: 27px;
    margin-bottom: 42px;
  }

  .menu-header__logo svg {
    width: 147px;
    height: 40px;
  }

  .menu-header__logo-svg {
    display: none;

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu-header__logo-svg {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .menu-header__button {
    display: none;
  }
}
