.modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  z-index: 20;

  &--complete {
    top: 55%;
  }
}

.modal__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.modal__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: $black;
}

.modal__text {
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: center;
  color: $darker;
}

.modal-btn {
  align-self: center;
  margin-bottom: 50px;
}

.modal__btn-all {
  padding-top: 50px;
  background-color: $lighter;

  &--submit {
    background-color: transparent;
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  }

  .modal__wrapper {
    display: flex;
    flex-direction: column;
    width: 440px;
  }

  .modal__title {
    font-size: 30px;
  }

  .modal__text {
    font-size: 18px;
  }

  .modal__btn-all {
    &--wrapper {
      align-self: center;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 780px;
  }

  .modal__wrapper {
    width: 760px;
  }

  .modal__title {
    font-size: 30px;
  }

  .modal__text {
    font-size: 18px;
    line-height: 1.33;
  }

  .modal__btn-all {
    &--submit {
      background-color: $lighter;
    }
  }
}
