.necessary {
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;

  &__star {
    color: rgb(210, 40, 86);
  }

  &__desctop {
    display: none;
  }
}

@media (min-width: 660px) {
  .necessary {
    position: absolute;
    bottom: 10px;
    right: 25px;
    padding-top: 11px;
    padding-bottom: 15px;
  }
}

@media (min-width: 960px) {
  .necessary {
    right: 12px;

    &__desctop {
      display: inline;
    }
  }
}
