.photo-description {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(242, 242, 242);
  margin: 0 20px;

  &__author {
    font-weight: bold;
  }

  &__date {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__text {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -45px;
    padding-top: 15px;
    margin-bottom: 10px;

    &--auto,
    &--drum,
    &--window,
    &--fair,
    &--pov,
    &--wing {
      padding-top: 25px;
      margin-top: -10px;
    }
  }
}

@media (min-width: 660px) {
  .photo-description {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    margin-right: -20px;

    &--panorama {
      display: flex;
      flex-direction: space-between;
      padding-top: 5px;
      padding-left: 8px;
      padding-right: 20px;
      padding-bottom: 15px;
      margin: 0;
      margin-top: 25px;
      margin-left: 20px;
      margin-right: -20px;
      position: relative;
    }

    &__text {
      padding-top: 65px;

      &--auto {
        padding-top: 40px;
        padding-left: 8px;
      }

      &--drum {
        margin-bottom: 33px;
        padding-top: 40px;
        padding-left: 8px;
      }

      &--window {
        margin-bottom: 10px;
        padding-top: 40px;
        padding-left: 8px;
      }

      &--fair {
        margin-bottom: 33px;
        padding-top: 40px;
        padding-left: 8px;
      }

      &--pov {
        margin-bottom: 33px;
        padding-top: 40px;
        padding-left: 8px;
      }

      &--wing {
        margin-bottom: 33px;
        padding-top: 40px;
        padding-left: 8px;
      }
    }
  }
}

@media (min-width: 960px) {
  .photo-description {
    &--panorama {
      margin: 0;
      padding: 0;
      padding-left: 27px;
      padding-top: 10px;
    }
  }
}
