.posts {
  min-width: 320px;
}

.posts-description {
  padding-top: 33px;
  padding-bottom: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.posts__day {
  position: relative;
}

.posts__day-icon {
  position: absolute;
  top: 0;
  right: 19px;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: $header-txt-color;
  text-transform: uppercase;
  background: $decoration-color;
}

.posts__anna {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  background-color: $section-background;
}

.posts__item-name {
  display: block;
  padding-top: 18px;
  padding-left: 15px;
}

.posts__item-description {
  margin: 0;
  padding-left: 15px;
}

.posts__item-likes {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-left: 45px;
  padding-bottom: 20px;
  font-size: 12px;
  color: $decoration-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 13px;
    height: 13px;
    background-image: url("../img/icon-heart.svg");
  }
}

.posts__list {
  @include reset-list;
  margin-top: 20px;
  margin-bottom: 45px;
}

.posts__item {
  margin-bottom: 20px;
  background-color: $section-background;
}

.posts__item-img,
.posts__img-panorama {
  vertical-align: bottom;
}

.posts__img-panorama {
  width: 320px;
  height: 135px;
}

.posts__item-date {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .posts-description {
    width: 450px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 75px;
    font-size: 18px;
  }

  .posts-description br {
    display: none;
  }

  .posts__img-panorama {
    width: 660px;
    height: 510px;
  }

  .posts__day-icon {
    top: 60px;
  }

  .posts__anna {
    position: relative;
    padding: 0;
  }

  .posts__anna .posts__item-description {
    padding-bottom: 20px;
  }

  .posts__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .posts__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 455px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: $section-background;
  }

  .posts__item-name {
    display: block;
    padding-top: 25px;
    padding-left: 30px;
  }

  .posts__item-description {
    padding-right: 20px;
    padding-left: 30px;
  }

  .posts__item-likes {
    margin-top: auto;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 30px;
      left: auto;
      width: 13px;
      height: 13px;
      background-image: url("../img/icon-heart.svg");
    }

    &--panorama {
      position: absolute;
      top: 15px;
      right: 0;

      &::before {
        content: "";
        position: absolute;
        top: 15px;
        right: 30px;
        left: auto;
        width: 13px;
        height: 13px;
        background-image: url("../img/icon-heart.svg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .posts-description {
    width: 580px;
    padding-bottom: 90px;
  }

  .posts-description br {
    display: block;
  }

  .posts__img-panorama {
    width: 1200px;
    height: 505px;
  }

  .posts__day-icon {
    top: 50px;
    right: 130px;
  }

  .posts__list {
    margin-right: 0;
    margin-left: 0;
  }

  .posts__item {
    min-height: 555px;
    margin-bottom: 55px;
  }

  .posts__item-likes {
    padding-bottom: 20px;
  }

  .posts__anna {
    padding-bottom: 0;
    margin: 0 auto;
    width: 940px;
  }
}
