.range-ctoggle {
  position: absolute;
  top: 100px;
  left: -10px;

  &--fill {
    left: -90px;
  }

  &--contrast {
    left: -180px;
  }
}

@media (min-width: 660px) {
  .range-toggle {
    top: 20px;
    left: 60px;
  }
}

@media (min-width: 960px) {
  .range-toggle {
    top: 40px;
    left: 98px;
  }
}
