.scale {
  width: 240px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 660px) {
  .scale {
    width: 200px;
  }
}

@media (min-width: 960px) {
  .scale {
    width: 288px;
  }
}
