.scope {
  &__text {
    padding-right: 23px;
  }

  &__link {
    color: rgb(210, 40, 86);
    text-decoration: underline;
  }
}

@media (min-width: 960px) {
  .scope {
    font-size: 18px;
    line-height: 30px;

    &__text {
      margin-bottom: 35px;

      & br {
        display: none;
      }

      & span {
        margin-right: -50px;
      }
    }
  }
}
