.textarea {
  width: 279px;
  min-height: 190px;
  padding-top: 13px;
  padding-left: 19px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);

  &::placeholder {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
  }
}

@media (min-width: 660px) {
  .textarea {
    width: 496px;
    height: 189px;
  }
}

@media (min-width: 960px) {
  .textarea {
    width: 816px;
    min-height: 126px;
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-top: 18px;
    height: 126px;
  }
}
