.toggle {
  width: 14px;
  height: 15px;
  padding: 0;
  border: 2px solid rgb(210, 40, 86);
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 189px;
  top: -5px;
}

@media (min-width: 660px) {
  .toggle {
    &--size {
      left: 148px;
    }

    &--fill {
      left: 27px;
    }

    &--contrast {
      left: 97px;
    }
  }
}

@media (min-width: 960px) {
  .toggle {
    &--size {
      left: 71px;
    }

    &--fill {
      left: 247px;
    }

    &--contrast {
      left: 158px;
    }
  }
}
