$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$totablet-width: 840px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$gray: #e5e5e5;
$dark: #1d2732;
$pink: #d22856;
$lighter: #f2f2f2;
$darker: #283645;
$lightergrey: #f8f5f2;
$border: #dddfe0;
$green: #2aab6d;
$green-hover: #1c9b5e;
